{"base_dir":"E:/Graduation/Data/",
"expr_dir": "050405/",
"matlab_dir":"matlab/",

"db_name":"community.db",

"group_file_name":"community.list",

"groupinfo_tablename":"groupinfo2",

"target_user_without_edge_graph_file":"relation.pickle.no_edges",
"relation_graph_file_name":"relation.pickle",
"relation_full_graph_file_name":"relation.pickle.full",

"content_graph_file_name":"content.pickle",

"laplacian_file_name":"laplacian.matrix",
"relation_reciprocated_graph_file_name":"birelation.pickle",
"dendrogram_file_name":"dendrogram.pickle",
"vertex_clustering_file_name":"vertex.clustering",
"eigen_value":"eigen.value",
"eigen_matrix":"eigen.matrix",
"eigen_vector":"eigen.vector",

"classification_file_name":"classification.txt",

"mongo_url":"172.18.183.176",
"mongo_port":"20001",
"mongo_db_name":"community_more",
"user_sim_collection_name":"user_sim",
"user_tweet_info_collection_name":"user_tw_info",
"user_collection_name":"users",
"prime_dict":"prime.dict",

"w1":0.3,
"w2":0.7,
"w3":0.0,
"sim_criterion":0.9,

"222":"222.200.181.241",
"176":"172.18.183.176"
}